<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>仓位信息设置</title>
    <link rel="stylesheet" href="../../layuiadmin/layui/css/layui.css" media="all">
    <link rel="stylesheet" href="../../layuiadmin/style/admin.css" media="all">
</head>
<body>
<div class="layui-fluid">
    <div class="layui-card">
        <div class="layui-card-body">
            <form class="layui-form" action="" lay-filter="component-form-group">
                <div class="layui-form-item">
                    <div class="layui-inline w100">
                        <select name="quiz">
                            <option value="all">全部状态</option>
                            <option value="启用">启用</option>
                            <option value="禁用">禁用</option>
                        </select>
                    </div>
                    <div class="layui-inline w120">
                        <select name="quiz">
                            <option value="all">全部生产线</option>
                            <option value="1">1线</option>
                            <option value="2">2线</option>
                            <option value="3">3线</option>
                            <option value="4">4线</option>
                        </select>
                    </div>
                    <div class="layui-inline">
                        <input type="text" name="contractNumber" size="33" placeholder="请输入仓位名称、材料名称进行查询" lay-verify="required"
                               class="layui-input">
                    </div>
                    <div class="layui-inline">
                        <a class="layui-btn layui-btn-sm layui-btn-normal" lay-submit><i
                                class="layui-icon layui-icon-search"></i>查询</a>
                        <a class="layui-btn layui-btn-sm" data-type="add"><i class="layui-icon">&#xe608;</i>新增</a>
                        <a class="layui-btn layui-btn-sm layui-btn-normal"><i
                                class="layui-icon layui-icon-download-circle"></i>导出</a>
                    </div>
                </div>
            </form>
            <table class="layui-hide" id="table-height" lay-filter="FleetTable"></table>
            <script type="text/html" id="barDemo">
                <a class="layui-btn layui-btn-xs" lay-event="edit">修改</a>
                <a class="layui-btn layui-btn-xs layui-btn-danger" lay-event="del">删除</a>
            </script>
        </div>
    </div>
</div>
<script src="../../layuiadmin/layui/layui.js"></script>
<script>
    layui.config({
        base: '../../layuiadmin/' //静态资源所在路径
    }).extend({
        index: 'lib/index' //主入口模块
    }).use(['index', 'table'], function () {
        var $ = layui.$;
        var table = layui.table
                , layer = layui.layer;
        table.render({
            elem: '#table-height',
            height: 'full-100',
            page: true,
            cols: [[
                {type: 'numbers'}
                , {field: 'warehouseNumber', title: '仓位编号', width: 100, sort: true}
                , {field: 'warehouseName', title: '仓位名称', width: 100, sort: true}
                , {field: 'warehouseType', title: '仓位类型', width: 100, sort: true}
                , {field: 'materialName', title: '材料名称', width: 100, sort: true}
                , {field: 'proLine', title: '生产线', width: 88, sort: true}
                , {field: 'inventoryTop', title: '库存上限(kg)', width: 120, sort: true}
                , {field: 'inventoryBottom', title: '库存下限(kg)', width: 120, sort: true}
                , {field: 'inventoryEarly', title: '期初库存(kg)', width: 120, sort: true}
                , {field: 'controllNumber', title: '控制编号', width: 100, sort: true}
                , {field: 'sensorID', title: '感应器ID', width: 100, sort: true}
                , {field: 'remarks', title: '备注'}
                , {
                    field: 'isShowInventory', title: '是否库存显示', width: 130, sort: true
                    , templet: function (d) {
                        var input = null
                        if (d.isShowInventory) {
                            input = '<input type="checkbox" name="aaa" lay-skin="switch" disabled checked>'
                        } else {
                            input = '<input type="checkbox" name="aaa" lay-skin="switch" disabled>'
                        }
                        return input;
                    }
                }
                , {field: 'isShowForeign', title: '是否对外显示', width: 130, sort: true
                    , templet: function (d) {
                        var input = null
                        if (d.isShowForeign) {
                            input = '<input type="checkbox" name="aaa" lay-skin="switch" disabled checked>'
                        } else {
                            input = '<input type="checkbox" name="aaa" lay-skin="switch" disabled>'
                        }
                        return input;
                    }
                }
                , {
                    field: 'state', title: '状态', width: 80, sort: true,
                    templet: function (d) {
                        var input = null
                        if (d.state) {
                            input = '<input type="checkbox" name="aaa" lay-skin="switch" disabled checked>'
                        } else {
                            input = '<input type="checkbox" name="aaa" lay-skin="switch" disabled>'
                        }
                        return input;
                    }
                }
                , {field: 'operation', title: '操作', fixed: 'right', minWidth: 111, toolbar: '#barDemo'}
            ]],
            data: [
                {
                    "warehouseNumber": "007",
                    "warehouseName": "骨料1",
                    "warehouseType": "石子仓	",
                    "materialName": "05石1",
                    "proLine": "2线",
                    "inventoryTop": 13332,
                    "inventoryBottom": 3882,
                    "inventoryEarly": 73883,
                    "controllNumber": 01,
                    "sensorID": 1,
                    "remarks": "",
                    "isShowInventory": false,
                    "isShowForeign": false,
                    "state": true
                }, {
                    "warehouseNumber": "007",
                    "warehouseName": "骨料1",
                    "warehouseType": "石子仓	",
                    "materialName": "05石1",
                    "proLine": "2线",
                    "inventoryTop": 13332,
                    "inventoryBottom": 3882,
                    "inventoryEarly": 73883,
                    "controllNumber": 01,
                    "sensorID": 1,
                    "remarks": "",
                    "isShowInventory": true,
                    "isShowForeign": true,
                    "state": false
                }
            ]
        });

        //按钮事件
        var active = {
            add: function () {
                //弹出新增仓位
                layer.open({
                    type: 2
                    , title: '新增仓位'
                    , content: ['../material/layer-warehouse-add.html']
                    , shadeClose: true
                    , area: ['95%', '90%']
                    , btn: ['确认', '关闭'] //按钮
                    , maxmin: true
                });
            }
        };

        $('.layui-btn').on('click', function () {
            var type = $(this).data('type');
            active[type] && active[type].call(this);
        });

        //监听工具条
        table.on('tool(FleetTable)', function (obj) {
            switch (obj.event) {
                case 'edit':
                    //弹出新增仓位
                    layer.open({
                        type: 2
                        , title: '修改仓位'
                        , content: ['../material/layer-warehouse-add.html']
                        , shadeClose: true
                        , area: ['95%', '90%']
                        , btn: ['确认', '关闭'] //按钮
                        , maxmin: true
                    });
                    break;
                case 'del':
                    layer.confirm('注：您确定要删除该项数据吗？', {
                        title: '系统提示',
                        icon:3,
                        btn: ['确认', '取消'] //按钮
                    });
                    break;
                default:
                    break;
            }
        });
    })
</script>
</body>
</html>