<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>信息价调整</title>
    <link rel="stylesheet" href="../../layuiadmin/layui/css/layui.css" media="all">
    <link rel="stylesheet" href="../../layuiadmin/style/admin.css" media="all">
</head>
<body>
<div class="layui-fluid">
    <div class="layui-row layui-col-space15">
        <div class="layui-col layui-col-md12">
            <div class="layui-card">
                <div class="layui-card-body">
                    <form class="layui-form" action="" lay-filter="component-form-group">
                        <div class="layui-form-item">
                            <div class="layui-inline">
                                <div class="layui-tab layui-tab-brief" lay-filter="docDemoTabBrief">
                                    <ul class="layui-tab-title" id="tabHeader">
                                        <li class="layui-this">昨天</li>
                                        <li>今天</li>
                                        <li>本月</li>
                                        <li>自定义</li>
                                    </ul>
                                </div>
                            </div>
                            <div class="layui-inline">
                                <div id="tabBody">
                                    <div class="tab-content-item"></div>
                                    <div class="tab-content-item"></div>
                                    <div class="tab-content-item"></div>
                                    <div class="tab-content-item">
                                        <div class="layui-input-inline">
                                            <input type="text" name="startDate" id="Start-date" lay-verify="date"
                                                   placeholder="yyyy-MM-dd" autocomplete="off" class="layui-input">
                                        </div>
                                        <div class="layui-form-mid">-</div>
                                        <div class="layui-input-inline">
                                            <input type="text" name="endDate" id="End-date" lay-verify="date"
                                                   placeholder="yyyy-MM-dd" autocomplete="off" class="layui-input">
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="layui-inline">
                                <button class="layui-btn" lay-submit><i class="layui-icon layui-icon-search"></i>查询</button>
                                <button type="reset" class="layui-btn layui-btn-normal"><i class="layui-icon">
                                    &#xe608;</i>新增
                                </button>
                            </div>
                        </div>
                    </form>
                    <table class="layui-hide" id="table-height"></table>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="../../layuiadmin/layui/layui.js"></script>
<script>
    layui.config({
        base: '../../layuiadmin/' //静态资源所在路径
    }).extend({
        index: 'lib/index' //主入口模块
    }).use(['element','index', 'table', 'laydate'], function () {
        var table = layui.table
                ,element = layui.element
                ,laydate = layui.laydate;
        table.render({
            elem: '#table-height',
            height: 'full-100',
            page: true,
            cols: [[
                {field: 'count', title: '', type: 'number', width: 40, align: 'center'}
                , {field: 'effectiveTime', title: '生效时间', sort: true}
                , {field: 'creationTime', title: '创建时间', sort: true}
                , {field: 'operator', title: '操作人', sort: true}
                , {field: 'operation', title: '操作', toolbar: '#barDemo'}
            ]],
            data: [
                {
                    "count": 1,
                    "effectiveTime": "2018-12-19 10:38:42",
                    "creationTime": "2018-12-19 10:38:42",
                    "operator": "吴xx",
                    "operation": ""
                }
            ]
        });
        laydate.render({
            elem: '#Start-date'
        });
        laydate.render({
            elem: '#End-date'
        });
        element.tab({
            headerElem: '#tabHeader>li' //指定tab头元素项
            ,bodyElem: '#tabBody>.tab-content-item' //指定tab主体元素项
        });
        element.on('tab(docDemoTabBrief)', function(data){
            console.log(data)
        });
    })
</script>
<script type="text/html" id="barDemo">
    <a class="layui-btn layui-btn-xs" lay-event="edit">明细</a>
</script>
</body>
</html>