<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>业务员授信</title>
    <link rel="stylesheet" href="../../layuiadmin/layui/css/layui.css" media="all">
    <link rel="stylesheet" href="../../layuiadmin/style/admin.css" media="all">
</head>
<body>
<div class="layui-fluid">
    <div class="layui-row layui-col-space15">
        <div class="layui-col layui-col-md12">
            <div class="layui-card">
                <div class="layui-card-body">
                    <form class="layui-form" action="" lay-filter="component-form-group">
                        <div class="layui-form-item">
                            <div class="layui-inline">
                                <!--<label class="layui-form-label">状态</label>-->
                                <select name="modules"  lay-search="">
                                    <option value="">选择状态</option>
                                    <option value="1">正供</option>
                                    <option value="2">停供</option>
                                </select>
                            </div>
                            <div class="layui-inline">
                                <input type="text" name="contractNumber" size="28"  placeholder="请输入业务员称进行查询" lay-verify="required" class="layui-input">
                            </div>
                            <div class="layui-inline">
                                <button class="layui-btn" lay-submit>查询</button>
                                <button type="reset" class="layui-btn layui-btn-normal"><i class="layui-icon">&#xe608;</i>新增</button>
                            </div>
                        </div>
                    </form>
                    <table class="layui-hide" id="table-height"></table>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="../../layuiadmin/layui/layui.js"></script>
<script>
    layui.config({
        base:'../../layuiadmin/' //静态资源所在路径
    }).extend({
        index: 'lib/index' //主入口模块
    }).use(['index', 'table'],function () {
        var table = layui.table;
        table.render({
            elem:'#table-height',
            height:'full-100',
            page:true,
            cols: [[
                {field:'count', title: '',type:'number', width:40,align:'center'}
                ,{field:'salesmen', title: '业务员',width:100, sort: true}
                ,{field:'tel', title: '电话号码',sort: true}
                ,{field:'cardID', title: '身份证号码',sort: true}
                ,{field:'prepay', title: '预付款',type:'number',sort: true}
                ,{field:'station', title: '供料站点',sort: true}
                ,{field:'creationTime', title: '创建时间',sort: true}
                ,{field:'operation', title: '操作',toolbar: '#barDemo'}
            ]],
            data: [
                {
                    "count": 1,
                    "salesmen": "姚**",
                    "tel": "13888888888",
                    "cardID": "-",
                    "prepay": 1000.40,
                    "station": "创富混凝土",
                    "creationTime": "2018-12-19 10:38:42",
                    "operation": ""
                }
            ]
        })
    })
</script>
<script type="text/html" id="barDemo">
    <a class="layui-btn layui-btn-xs" lay-event="edit">修改</a>
    <a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="del">正供</a>
    <!--<a class="layui-btn layui-btn-xs" lay-event="check">审核</a>-->
</script>
</body>
</html>