<!DOCTYPE html>
<html lang="en" class="layui-bg-white">
<head>
    <meta charset="UTF-8">
    <title>位置标注</title>
    <link rel="stylesheet" href="../../layuiadmin/layui/css/layui.css" media="all">
    <link rel="stylesheet" href="../../layuiadmin/style/admin.css" media="all">
</head>
<body>
<div class="layui-fluid">
    <div class="padding">请点击地图上的位置进行标注或者输入搜索</div>
    <div class="map-box-1">
        <iframe src="https://map.baidu.com/" frameborder="0"></iframe>
    </div>
</div>
<script src="../../layuiadmin/layui/layui.js"></script>
<script>
    layui.config({
        base: '../../layuiadmin/' //静态资源所在路径
    }).extend({
        index: 'lib/index' //主入口模块
    }).use(['element', 'index', 'table', 'laydate'], function () {
        var table = layui.table
                , element = layui.element
                , laydate = layui.laydate;

    })
</script>
</body>
</html>