<!DOCTYPE html>
<html lang="en" class="layui-bg-white">
<head>
    <meta charset="UTF-8">
    <title>合同单</title>
    <link rel="stylesheet" href="../../layuiadmin/layui/css/layui.css" media="all">
    <link rel="stylesheet" href="../../layuiadmin/style/admin.css" media="all">
</head>
<body>
<div class="layui-fluid">
    <div class="layui-tab layui-tab-brief no-margin-top" lay-filter="docDemoTabBrief">
        <ul class="layui-tab-title" id="tabHeader">
            <li class="layui-this">合同单</li>
            <li>现金单</li>
        </ul>
    </div>
    <form class="layui-form" action="" lay-filter="component-form-group">

        <div id="tabBody">
            <div class="layui-tab-item layui-show">
                <div class="layui-form-item no-margin">
                    <div class="layui-inline">
                        <input type="text" name="contractNumber" size="40" placeholder="请输入工程名称进行查询"
                               lay-verify="required" class="layui-input">
                    </div>
                    <div class="layui-inline">
                        <button class="layui-btn layui-btn-sm" lay-submit><i class="layui-icon layui-icon-search"></i>查询
                        </button>
                    </div>
                </div>
                <table class="layui-hide" id="TableContract"></table>
            </div>
            <div class="layui-tab-item">
                <div class="layui-form-item no-margin">
                    <div class="layui-inline">
                        <input type="text" name="contractNumber" size="40" placeholder="请输入工程名称进行查询"
                               lay-verify="required" class="layui-input">
                    </div>
                    <div class="layui-inline">
                        <a class="layui-btn layui-btn-sm" lay-submit><i class="layui-icon layui-icon-search"></i>查询
                        </a>
                        <a class="layui-btn layui-btn-sm layui-btn-normal" lay-submit><i class="layui-icon layui-icon-add-circle"></i>新增现金单
                        </a>
                    </div>
                </div>
                <table class="layui-hide" id="TableCash"></table>
            </div>
        </div>
    </form>


</div>
<script src="../../layuiadmin/layui/layui.js"></script>
<script>
    layui.config({
        base: '../../layuiadmin/' //静态资源所在路径
    }).extend({
        index: 'lib/index' //主入口模块
    }).use(['element', 'index', 'table', 'laydate'], function () {
        var $ = layui.$
                , table = layui.table
                , element = layui.element
                , laydate = layui.laydate;
        table.render({
            elem: '#TableContract',
            height: 'full-100',
            page: true,
            cols: [[
                {field: 'count', title: '', type: 'number', width: 40}
                , {field: 'contractNumber', title: '合同编号', sort: true}
                , {field: 'projectName', title: '工程名称', sort: true}
                , {field: 'adjustmentTime', title: '客户名称'}
            ]],
            data: [
                {
                    "count": 1,
                    "contractNumber": "",
                    "projectName": "",
                    "adjustmentTime": ""
                }
            ]
        });

        table.render({
            elem: '#TableCash',
            height: 'full-100',
            page: true,
            cols: [[
                {field: 'count', title: '', type: 'number', width: 40}
                , {field: 'salesman', title: '业务员', sort: true}
                , {field: 'projectName', title: '工程名称', sort: true}
                , {field: 'adjustmentTime', title: '客户名称'}
            ]],
            data: [
                {
                    "count": 1,
                    "salesman": "",
                    "projectName": "",
                    "adjustmentTime": ""
                }
            ]
        });

        laydate.render({
            elem: '#Start-date'
            , type: 'datetime'
        });
        laydate.render({
            elem: '#End-date'
            , type: 'datetime'
        });

        element.tab({
            headerElem: '#tabHeader>li' //指定tab头元素项
            , bodyElem: '#tabBody>.layui-tab-item' //指定tab主体元素项
        });
    })
</script>
</body>
</html>