<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>生产产品信息</title>
    <link rel="stylesheet" href="../../layuiadmin/layui/css/layui.css" media="all">
    <link rel="stylesheet" href="../../layuiadmin/style/admin.css" media="all">
</head>
<body>
<div class="layui-fluid">
    <div class="layui-row layui-col-space15">
        <div class="layui-col-md3">
            <div class="layui-card">
                <div class="layui-card-body">
                    <table class="layui-hidden" id="treeTable" lay-filter="treeTable"></table>
                </div>
            </div>
        </div>
        <div class="layui-col-md9">
            <div class="layui-card">
                <div class="layui-card-body">
                    <form class="layui-form" action="" lay-filter="component-form-group">
                        <div class="layui-form-item">
                            <div class="layui-inline w140">
                                <select name="quiz">
                                    <option value="按工程">按工程</option>
                                    <option value="按配备编号">按配备编号</option>
                                    <option value="金合成泵送">金合成泵送</option>
                                    <option value="金合成路面">金合成路面</option>
                                    <option value="金合成瓜米">金合成瓜米</option>
                                    <option value="金合成膨胀8%">金合成膨胀8%</option>
                                    <option value="金合成膨胀12%">金合成膨胀12%</option>
                                    <option value="金合成对外">金合成对外</option>
                                </select>
                            </div>
                            <div class="layui-inline">
                                <input type="text" name="contractNumber" size="28"
                                       placeholder="请输入客户名称进行查询" lay-verify="required"
                                       class="layui-input">
                            </div>
                            <div class="layui-inline">
                                <button class="layui-btn layui-btn-sm" lay-submit><i class="layui-icon layui-icon-search"></i>查询
                                </button>
                            </div>
                        </div>
                    </form>
                    <table class="layui-hide" id="table-height"></table>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="../../layuiadmin/layui/layui.js"></script>
<script>
    layui.config({
        base: '../../layuiadmin/' //静态资源所在路径
    }).extend({
        index: 'lib/index' //主入口模块
    }).use(['element', 'index', 'table', 'laydate','treeGrid'], function () {
        var table = layui.table
                , element = layui.element
                , laydate = layui.laydate
                , treeGrid = layui.treeGrid;

        table.render({
            elem: '#table-height',
            cols: [[
                {field: 'count', title: '', type: 'number', width: 40}
                ,{field:'productName', title: '名称'}
                , {field: 'createTime', title: '创建时间',sort: true}
                , {field: 'operation', title: '操作',toolbar:'#barDemo'}
            ]],
            data: [
                {
                    "count": 1,
                    "productName": "5435434",
                    "createTime": "2019-01-14 15:20:00",
                    "operation": ""
                }
            ]
        });

        //树表格
        treeGrid.render({
            id:'treeTable'
            ,elem: '#treeTable'
//            ,url:'./json/treeData.json'
            ,cellMinWidth: 100
            ,idField:'id'//必須字段
            ,treeId:'id'//树形id字段名称
            ,treeUpId:'pId'//树形父id字段名称
            ,treeShowName:'name'//以树形式显示的字段
            ,heightRemove:[".dHead",10]//不计算的高度,表格设定的是固定高度，此项不生效
            ,height:'100%'
            ,isFilter:false
            ,iconOpen:true//是否显示图标【默认显示】
            ,isOpenDefault:true//节点默认是展开还是折叠【默认展开】
            ,loading:true
            ,method:'get'
            ,isPage:false
            ,cols: [[
                {field:'name', width:300, title: '生产产品信息',sort:true}
            ]]
            ,data: [
                {"id":"1", "pId":null,  "name":"混凝土"},
                {"id":"2", "pId":null,"name":"砂浆"},
                {"id":"101", "pId":"1", "name":"混凝土-1"},
                {"id":"102", "pId":"1", "name":"混凝土-2"},
                {"id":"103", "pId":"2", "name":"砂浆-1"},
                {"id":"104", "pId":"2", "name":"砂浆-2"},
            ]
            ,parseData:function (res) {//数据加载后回调
                return res;
            }
            ,onClickRow:function (index, o,tr) {
                console.log(index,o,"单击！");
                tr.addClass('current').siblings().removeClass('current');
            }
            ,onDblClickRow:function (index, o) {
                console.log(index,o,"双击");
            }
            ,onCheck:function (obj,checked,isAll) {//复选事件
                console.log(obj,checked,isAll);
            }
            ,onRadio:function (obj) {//单选事件
                console.log(obj);
            }
        });

        laydate.render({
            elem: '#Start-date'
        });
        laydate.render({
            elem: '#End-date'
        });
    })
</script>

<script type="text/html" id="barDemo">
    <a class="layui-btn layui-btn-xs" lay-event="edit">修改</a>
    <a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="del">删除</a>
    <!--<a class="layui-btn layui-btn-xs" lay-event="check">审核</a>-->
</script>
</body>
</html>