<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>库存监控</title>
    <link rel="stylesheet" href="../../layuiadmin/layui/css/layui.css" media="all">
    <link rel="stylesheet" href="../../layuiadmin/style/admin.css" media="all">
</head>
<body>
<div class="layui-fluid">
    <div class="layui-card">
        <div class="layui-card-header">
            1线
        </div>
        <div class="layui-card-body">
            <div class="layui-row">
                <div class="layui-col-md4">
                <table class="my-table-2">
                    <colgroup>
                        <col width="55%">
                        <col width="46">
                        <col>
                    </colgroup>
                    <tr>
                        <th colspan="3">
                            <div class="table-title">骨料6(/kg) <span>骨料6(/kg)43-1-3石2</span></div>
                        </th>
                    </tr>
                    <tr>
                        <td rowspan="7">
                            <div class="depot-box">
                                <div class="item">
                                    <p>理论</p>
                                    <p class="num">2323232</p>
                                    <img src="../../layuiadmin/images/material_0.png" alt="">
                                </div>
                                <div class="item">
                                    <p>实际</p>
                                    <p class="num">323232</p>
                                    <img src="../../layuiadmin/images/red_100.png" alt="">
                                </div>
                            </div>
                        </td>
                        <td>库容</td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>上限</td>
                        <td>2</td>
                    </tr>
                    <tr>
                        <td>下限</td>
                        <td>2</td>
                    </tr>
                    <tr>
                        <td>期初</td>
                        <td>2</td>
                    </tr>
                    <tr>
                        <td>进料</td>
                        <td>2</td>
                    </tr>
                    <tr>
                        <td>消耗</td>
                        <td>2</td>
                    </tr>
                    <tr>
                        <td>理论</td>
                        <td>2</td>
                    </tr>
                    <tr>
                        <td colspan="3" align="center">
                            <button class="layui-btn layui-btn-sm layui-btn-normal" lay-submit>进料(手动)</button>
                            <button class="layui-btn layui-btn-sm layui-btn-danger" lay-submit>校正</button>
                        </td>
                    </tr>
                </table>
            </div>
                <div class="layui-col-md4">
                    <table class="my-table-2">
                        <colgroup>
                            <col width="55%">
                            <col width="46">
                            <col>
                        </colgroup>
                        <tr>
                            <th colspan="3">
                                <div class="table-title">骨料6(/kg) <span>骨料6(/kg)43-1-3石2</span></div>
                            </th>
                        </tr>
                        <tr>
                            <td rowspan="7">
                                <div class="depot-box">
                                    <div class="item">
                                        <p>理论</p>
                                        <p class="num">2323232</p>
                                        <img src="../../layuiadmin/images/material_0.png" alt="">
                                    </div>
                                    <div class="item">
                                        <p>实际</p>
                                        <p class="num">323232</p>
                                        <img src="../../layuiadmin/images/red_100.png" alt="">
                                    </div>
                                </div>
                            </td>
                            <td>库容</td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>上限</td>
                            <td>2</td>
                        </tr>
                        <tr>
                            <td>下限</td>
                            <td>2</td>
                        </tr>
                        <tr>
                            <td>期初</td>
                            <td>2</td>
                        </tr>
                        <tr>
                            <td>进料</td>
                            <td>2</td>
                        </tr>
                        <tr>
                            <td>消耗</td>
                            <td>2</td>
                        </tr>
                        <tr>
                            <td>理论</td>
                            <td>2</td>
                        </tr>
                        <tr>
                            <td colspan="3" align="center">
                                <button class="layui-btn layui-btn-sm layui-btn-normal" lay-submit>进料(手动)</button>
                                <button class="layui-btn layui-btn-sm layui-btn-danger" lay-submit>校正</button>
                            </td>
                        </tr>
                    </table>
                </div>
                <div class="layui-col-md4">
                    <table class="my-table-2">
                        <colgroup>
                            <col width="55%">
                            <col width="46">
                            <col>
                        </colgroup>
                        <tr>
                            <th colspan="3">
                                <div class="table-title">骨料6(/kg) <span>骨料6(/kg)43-1-3石2</span></div>
                            </th>
                        </tr>
                        <tr>
                            <td rowspan="7">
                                <div class="depot-box">
                                    <div class="item">
                                        <p>理论</p>
                                        <p class="num">2323232</p>
                                        <img src="../../layuiadmin/images/material_0.png" alt="">
                                    </div>
                                    <div class="item">
                                        <p>实际</p>
                                        <p class="num">323232</p>
                                        <img src="../../layuiadmin/images/red_100.png" alt="">
                                    </div>
                                </div>
                            </td>
                            <td>库容</td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>上限</td>
                            <td>2</td>
                        </tr>
                        <tr>
                            <td>下限</td>
                            <td>2</td>
                        </tr>
                        <tr>
                            <td>期初</td>
                            <td>2</td>
                        </tr>
                        <tr>
                            <td>进料</td>
                            <td>2</td>
                        </tr>
                        <tr>
                            <td>消耗</td>
                            <td>2</td>
                        </tr>
                        <tr>
                            <td>理论</td>
                            <td>2</td>
                        </tr>
                        <tr>
                            <td colspan="3" align="center">
                                <button class="layui-btn layui-btn-sm layui-btn-normal" lay-submit>进料(手动)</button>
                                <button class="layui-btn layui-btn-sm layui-btn-danger" lay-submit>校正</button>
                            </td>
                        </tr>
                    </table>
                </div>
                <div class="layui-col-md4">
                    <table class="my-table-2">
                        <colgroup>
                            <col width="55%">
                            <col width="46">
                            <col>
                        </colgroup>
                        <tr>
                            <th colspan="3">
                                <div class="table-title">骨料6(/kg) <span>骨料6(/kg)43-1-3石2</span></div>
                            </th>
                        </tr>
                        <tr>
                            <td rowspan="7">
                                <div class="depot-box">
                                    <div class="item">
                                        <p>理论</p>
                                        <p class="num">2323232</p>
                                        <img src="../../layuiadmin/images/material_0.png" alt="">
                                    </div>
                                    <div class="item">
                                        <p>实际</p>
                                        <p class="num">323232</p>
                                        <img src="../../layuiadmin/images/red_100.png" alt="">
                                    </div>
                                </div>
                            </td>
                            <td>库容</td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>上限</td>
                            <td>2</td>
                        </tr>
                        <tr>
                            <td>下限</td>
                            <td>2</td>
                        </tr>
                        <tr>
                            <td>期初</td>
                            <td>2</td>
                        </tr>
                        <tr>
                            <td>进料</td>
                            <td>2</td>
                        </tr>
                        <tr>
                            <td>消耗</td>
                            <td>2</td>
                        </tr>
                        <tr>
                            <td>理论</td>
                            <td>2</td>
                        </tr>
                        <tr>
                            <td colspan="3" align="center">
                                <button class="layui-btn layui-btn-sm layui-btn-normal" lay-submit>进料(手动)</button>
                                <button class="layui-btn layui-btn-sm layui-btn-danger" lay-submit>校正</button>
                            </td>
                        </tr>
                    </table>
                </div>
                <div class="layui-col-md4">
                    <table class="my-table-2">
                        <colgroup>
                            <col width="55%">
                            <col width="46">
                            <col>
                        </colgroup>
                        <tr>
                            <th colspan="3">
                                <div class="table-title">骨料6(/kg) <span>骨料6(/kg)43-1-3石2</span></div>
                            </th>
                        </tr>
                        <tr>
                            <td rowspan="7">
                                <div class="depot-box">
                                    <div class="item">
                                        <p>理论</p>
                                        <p class="num">2323232</p>
                                        <img src="../../layuiadmin/images/material_0.png" alt="">
                                    </div>
                                    <div class="item">
                                        <p>实际</p>
                                        <p class="num">323232</p>
                                        <img src="../../layuiadmin/images/red_100.png" alt="">
                                    </div>
                                </div>
                            </td>
                            <td>库容</td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>上限</td>
                            <td>2</td>
                        </tr>
                        <tr>
                            <td>下限</td>
                            <td>2</td>
                        </tr>
                        <tr>
                            <td>期初</td>
                            <td>2</td>
                        </tr>
                        <tr>
                            <td>进料</td>
                            <td>2</td>
                        </tr>
                        <tr>
                            <td>消耗</td>
                            <td>2</td>
                        </tr>
                        <tr>
                            <td>理论</td>
                            <td>2</td>
                        </tr>
                        <tr>
                            <td colspan="3" align="center">
                                <button class="layui-btn layui-btn-sm layui-btn-normal" lay-submit>进料(手动)</button>
                                <button class="layui-btn layui-btn-sm layui-btn-danger" lay-submit>校正</button>
                            </td>
                        </tr>
                    </table>
                </div>
                <div class="layui-col-md4">
                    <table class="my-table-2">
                        <colgroup>
                            <col width="55%">
                            <col width="46">
                            <col>
                        </colgroup>
                        <tr>
                            <th colspan="3">
                                <div class="table-title">骨料6(/kg) <span>骨料6(/kg)43-1-3石2</span></div>
                            </th>
                        </tr>
                        <tr>
                            <td rowspan="7">
                                <div class="depot-box">
                                    <div class="item">
                                        <p>理论</p>
                                        <p class="num">2323232</p>
                                        <img src="../../layuiadmin/images/material_0.png" alt="">
                                    </div>
                                    <div class="item">
                                        <p>实际</p>
                                        <p class="num">323232</p>
                                        <img src="../../layuiadmin/images/red_100.png" alt="">
                                    </div>
                                </div>
                            </td>
                            <td>库容</td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>上限</td>
                            <td>2</td>
                        </tr>
                        <tr>
                            <td>下限</td>
                            <td>2</td>
                        </tr>
                        <tr>
                            <td>期初</td>
                            <td>2</td>
                        </tr>
                        <tr>
                            <td>进料</td>
                            <td>2</td>
                        </tr>
                        <tr>
                            <td>消耗</td>
                            <td>2</td>
                        </tr>
                        <tr>
                            <td>理论</td>
                            <td>2</td>
                        </tr>
                        <tr>
                            <td colspan="3" align="center">
                                <button class="layui-btn layui-btn-sm layui-btn-normal" lay-submit>进料(手动)</button>
                                <button class="layui-btn layui-btn-sm layui-btn-danger" lay-submit>校正</button>
                            </td>
                        </tr>
                    </table>
                </div>
                <div class="layui-col-md4">
                    <table class="my-table-2">
                        <colgroup>
                            <col width="55%">
                            <col width="46">
                            <col>
                        </colgroup>
                        <tr>
                            <th colspan="3">
                                <div class="table-title">骨料6(/kg) <span>骨料6(/kg)43-1-3石2</span></div>
                            </th>
                        </tr>
                        <tr>
                            <td rowspan="7">
                                <div class="depot-box">
                                    <div class="item">
                                        <p>理论</p>
                                        <p class="num">2323232</p>
                                        <img src="../../layuiadmin/images/material_0.png" alt="">
                                    </div>
                                    <div class="item">
                                        <p>实际</p>
                                        <p class="num">323232</p>
                                        <img src="../../layuiadmin/images/red_100.png" alt="">
                                    </div>
                                </div>
                            </td>
                            <td>库容</td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>上限</td>
                            <td>2</td>
                        </tr>
                        <tr>
                            <td>下限</td>
                            <td>2</td>
                        </tr>
                        <tr>
                            <td>期初</td>
                            <td>2</td>
                        </tr>
                        <tr>
                            <td>进料</td>
                            <td>2</td>
                        </tr>
                        <tr>
                            <td>消耗</td>
                            <td>2</td>
                        </tr>
                        <tr>
                            <td>理论</td>
                            <td>2</td>
                        </tr>
                        <tr>
                            <td colspan="3" align="center">
                                <button class="layui-btn layui-btn-sm layui-btn-normal" lay-submit>进料(手动)</button>
                                <button class="layui-btn layui-btn-sm layui-btn-danger" lay-submit>校正</button>
                            </td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <div class="layui-card">
        <div class="layui-card-header">
            2线
        </div>
        <div class="layui-card-body">
            <div class="layui-row">
                <div class="layui-col-md4">
                    <table class="my-table-2">
                        <colgroup>
                            <col width="55%">
                            <col width="46">
                            <col>
                        </colgroup>
                        <tr>
                            <th colspan="3">
                                <div class="table-title">骨料6(/kg) <span>骨料6(/kg)43-1-3石2</span></div>
                            </th>
                        </tr>
                        <tr>
                            <td rowspan="7">
                                <div class="depot-box">
                                    <div class="item">
                                        <p>理论</p>
                                        <p class="num">2323232</p>
                                        <img src="../../layuiadmin/images/material_0.png" alt="">
                                    </div>
                                    <div class="item">
                                        <p>实际</p>
                                        <p class="num">323232</p>
                                        <img src="../../layuiadmin/images/red_100.png" alt="">
                                    </div>
                                </div>
                            </td>
                            <td>库容</td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>上限</td>
                            <td>2</td>
                        </tr>
                        <tr>
                            <td>下限</td>
                            <td>2</td>
                        </tr>
                        <tr>
                            <td>期初</td>
                            <td>2</td>
                        </tr>
                        <tr>
                            <td>进料</td>
                            <td>2</td>
                        </tr>
                        <tr>
                            <td>消耗</td>
                            <td>2</td>
                        </tr>
                        <tr>
                            <td>理论</td>
                            <td>2</td>
                        </tr>
                        <tr>
                            <td colspan="3" align="center">
                                <button class="layui-btn layui-btn-sm layui-btn-normal" lay-submit>进料(手动)</button>
                                <button class="layui-btn layui-btn-sm layui-btn-danger" lay-submit>校正</button>
                            </td>
                        </tr>
                    </table>
                </div>
                <div class="layui-col-md4">
                    <table class="my-table-2">
                        <colgroup>
                            <col width="55%">
                            <col width="46">
                            <col>
                        </colgroup>
                        <tr>
                            <th colspan="3">
                                <div class="table-title">骨料6(/kg) <span>骨料6(/kg)43-1-3石2</span></div>
                            </th>
                        </tr>
                        <tr>
                            <td rowspan="7">
                                <div class="depot-box">
                                    <div class="item">
                                        <p>理论</p>
                                        <p class="num">2323232</p>
                                        <img src="../../layuiadmin/images/material_0.png" alt="">
                                    </div>
                                    <div class="item">
                                        <p>实际</p>
                                        <p class="num">323232</p>
                                        <img src="../../layuiadmin/images/red_100.png" alt="">
                                    </div>
                                </div>
                            </td>
                            <td>库容</td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>上限</td>
                            <td>2</td>
                        </tr>
                        <tr>
                            <td>下限</td>
                            <td>2</td>
                        </tr>
                        <tr>
                            <td>期初</td>
                            <td>2</td>
                        </tr>
                        <tr>
                            <td>进料</td>
                            <td>2</td>
                        </tr>
                        <tr>
                            <td>消耗</td>
                            <td>2</td>
                        </tr>
                        <tr>
                            <td>理论</td>
                            <td>2</td>
                        </tr>
                        <tr>
                            <td colspan="3" align="center">
                                <button class="layui-btn layui-btn-sm layui-btn-normal" lay-submit>进料(手动)</button>
                                <button class="layui-btn layui-btn-sm layui-btn-danger" lay-submit>校正</button>
                            </td>
                        </tr>
                    </table>
                </div>
                <div class="layui-col-md4">
                    <table class="my-table-2">
                        <colgroup>
                            <col width="55%">
                            <col width="46">
                            <col>
                        </colgroup>
                        <tr>
                            <th colspan="3">
                                <div class="table-title">骨料6(/kg) <span>骨料6(/kg)43-1-3石2</span></div>
                            </th>
                        </tr>
                        <tr>
                            <td rowspan="7">
                                <div class="depot-box">
                                    <div class="item">
                                        <p>理论</p>
                                        <p class="num">2323232</p>
                                        <img src="../../layuiadmin/images/material_0.png" alt="">
                                    </div>
                                    <div class="item">
                                        <p>实际</p>
                                        <p class="num">323232</p>
                                        <img src="../../layuiadmin/images/red_100.png" alt="">
                                    </div>
                                </div>
                            </td>
                            <td>库容</td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>上限</td>
                            <td>2</td>
                        </tr>
                        <tr>
                            <td>下限</td>
                            <td>2</td>
                        </tr>
                        <tr>
                            <td>期初</td>
                            <td>2</td>
                        </tr>
                        <tr>
                            <td>进料</td>
                            <td>2</td>
                        </tr>
                        <tr>
                            <td>消耗</td>
                            <td>2</td>
                        </tr>
                        <tr>
                            <td>理论</td>
                            <td>2</td>
                        </tr>
                        <tr>
                            <td colspan="3" align="center">
                                <button class="layui-btn layui-btn-sm layui-btn-normal" lay-submit>进料(手动)</button>
                                <button class="layui-btn layui-btn-sm layui-btn-danger" lay-submit>校正</button>
                            </td>
                        </tr>
                    </table>
                </div>
                <div class="layui-col-md4">
                    <table class="my-table-2">
                        <colgroup>
                            <col width="55%">
                            <col width="46">
                            <col>
                        </colgroup>
                        <tr>
                            <th colspan="3">
                                <div class="table-title">骨料6(/kg) <span>骨料6(/kg)43-1-3石2</span></div>
                            </th>
                        </tr>
                        <tr>
                            <td rowspan="7">
                                <div class="depot-box">
                                    <div class="item">
                                        <p>理论</p>
                                        <p class="num">2323232</p>
                                        <img src="../../layuiadmin/images/material_0.png" alt="">
                                    </div>
                                    <div class="item">
                                        <p>实际</p>
                                        <p class="num">323232</p>
                                        <img src="../../layuiadmin/images/red_100.png" alt="">
                                    </div>
                                </div>
                            </td>
                            <td>库容</td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>上限</td>
                            <td>2</td>
                        </tr>
                        <tr>
                            <td>下限</td>
                            <td>2</td>
                        </tr>
                        <tr>
                            <td>期初</td>
                            <td>2</td>
                        </tr>
                        <tr>
                            <td>进料</td>
                            <td>2</td>
                        </tr>
                        <tr>
                            <td>消耗</td>
                            <td>2</td>
                        </tr>
                        <tr>
                            <td>理论</td>
                            <td>2</td>
                        </tr>
                        <tr>
                            <td colspan="3" align="center">
                                <button class="layui-btn layui-btn-sm layui-btn-normal" lay-submit>进料(手动)</button>
                                <button class="layui-btn layui-btn-sm layui-btn-danger" lay-submit>校正</button>
                            </td>
                        </tr>
                    </table>
                </div>
                <div class="layui-col-md4">
                    <table class="my-table-2">
                        <colgroup>
                            <col width="55%">
                            <col width="46">
                            <col>
                        </colgroup>
                        <tr>
                            <th colspan="3">
                                <div class="table-title">骨料6(/kg) <span>骨料6(/kg)43-1-3石2</span></div>
                            </th>
                        </tr>
                        <tr>
                            <td rowspan="7">
                                <div class="depot-box">
                                    <div class="item">
                                        <p>理论</p>
                                        <p class="num">2323232</p>
                                        <img src="../../layuiadmin/images/material_0.png" alt="">
                                    </div>
                                    <div class="item">
                                        <p>实际</p>
                                        <p class="num">323232</p>
                                        <img src="../../layuiadmin/images/red_100.png" alt="">
                                    </div>
                                </div>
                            </td>
                            <td>库容</td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>上限</td>
                            <td>2</td>
                        </tr>
                        <tr>
                            <td>下限</td>
                            <td>2</td>
                        </tr>
                        <tr>
                            <td>期初</td>
                            <td>2</td>
                        </tr>
                        <tr>
                            <td>进料</td>
                            <td>2</td>
                        </tr>
                        <tr>
                            <td>消耗</td>
                            <td>2</td>
                        </tr>
                        <tr>
                            <td>理论</td>
                            <td>2</td>
                        </tr>
                        <tr>
                            <td colspan="3" align="center">
                                <button class="layui-btn layui-btn-sm layui-btn-normal" lay-submit>进料(手动)</button>
                                <button class="layui-btn layui-btn-sm layui-btn-danger" lay-submit>校正</button>
                            </td>
                        </tr>
                    </table>
                </div>
                <div class="layui-col-md4">
                    <table class="my-table-2">
                        <colgroup>
                            <col width="55%">
                            <col width="46">
                            <col>
                        </colgroup>
                        <tr>
                            <th colspan="3">
                                <div class="table-title">骨料6(/kg) <span>骨料6(/kg)43-1-3石2</span></div>
                            </th>
                        </tr>
                        <tr>
                            <td rowspan="7">
                                <div class="depot-box">
                                    <div class="item">
                                        <p>理论</p>
                                        <p class="num">2323232</p>
                                        <img src="../../layuiadmin/images/material_0.png" alt="">
                                    </div>
                                    <div class="item">
                                        <p>实际</p>
                                        <p class="num">323232</p>
                                        <img src="../../layuiadmin/images/red_100.png" alt="">
                                    </div>
                                </div>
                            </td>
                            <td>库容</td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>上限</td>
                            <td>2</td>
                        </tr>
                        <tr>
                            <td>下限</td>
                            <td>2</td>
                        </tr>
                        <tr>
                            <td>期初</td>
                            <td>2</td>
                        </tr>
                        <tr>
                            <td>进料</td>
                            <td>2</td>
                        </tr>
                        <tr>
                            <td>消耗</td>
                            <td>2</td>
                        </tr>
                        <tr>
                            <td>理论</td>
                            <td>2</td>
                        </tr>
                        <tr>
                            <td colspan="3" align="center">
                                <button class="layui-btn layui-btn-sm layui-btn-normal" lay-submit>进料(手动)</button>
                                <button class="layui-btn layui-btn-sm layui-btn-danger" lay-submit>校正</button>
                            </td>
                        </tr>
                    </table>
                </div>
                <div class="layui-col-md4">
                    <table class="my-table-2">
                        <colgroup>
                            <col width="55%">
                            <col width="46">
                            <col>
                        </colgroup>
                        <tr>
                            <th colspan="3">
                                <div class="table-title">骨料6(/kg) <span>骨料6(/kg)43-1-3石2</span></div>
                            </th>
                        </tr>
                        <tr>
                            <td rowspan="7">
                                <div class="depot-box">
                                    <div class="item">
                                        <p>理论</p>
                                        <p class="num">2323232</p>
                                        <img src="../../layuiadmin/images/material_0.png" alt="">
                                    </div>
                                    <div class="item">
                                        <p>实际</p>
                                        <p class="num">323232</p>
                                        <img src="../../layuiadmin/images/red_100.png" alt="">
                                    </div>
                                </div>
                            </td>
                            <td>库容</td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>上限</td>
                            <td>2</td>
                        </tr>
                        <tr>
                            <td>下限</td>
                            <td>2</td>
                        </tr>
                        <tr>
                            <td>期初</td>
                            <td>2</td>
                        </tr>
                        <tr>
                            <td>进料</td>
                            <td>2</td>
                        </tr>
                        <tr>
                            <td>消耗</td>
                            <td>2</td>
                        </tr>
                        <tr>
                            <td>理论</td>
                            <td>2</td>
                        </tr>
                        <tr>
                            <td colspan="3" align="center">
                                <button class="layui-btn layui-btn-sm layui-btn-normal" lay-submit>进料(手动)</button>
                                <button class="layui-btn layui-btn-sm layui-btn-danger" lay-submit>校正</button>
                            </td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="../../layuiadmin/layui/layui.js"></script>
<script>
    layui.config({
        base: '../../layuiadmin/' //静态资源所在路径
    }).extend({
        index: 'lib/index' //主入口模块
    }).use(['element', 'index', 'table', 'laydate'], function () {
        var $ = layui.jquery;
        var table = layui.table
                , element = layui.element
                , laydate = layui.laydate;
        table.render({
            elem: '#table-height',
            page: true,
            cols: [[
                {field: 'count', title: '', type: 'number', width: 40}
                , {field: 'order', title: '订单号', width: 100, sort: true}
                , {field: 'kpTime', title: '开盘时间', width: 160, sort: true}
                , {field: 'proRatioNumber', title: '生产配比编号', width: 120, sort: true}
                , {field: 'baseRatioNumber', title: '基准配比编号', width: 120}
                , {field: 'customerName', title: '客户名称', minWidth: 100}
                , {field: 'projectName', title: '工程名称', minWidth: 100}
                , {field: 'projectPart', title: '施工部位', width: 88}
                , {field: 'strong', title: '强度等级', width: 88}
                , {field: 'slumps', title: '坍落度', width: 88}
                , {field: 'proLine', title: '生产线', width: 88}
                , {field: 'ratioType', title: '配比种类', width: 88}
            ]],
            data: [
                {
                    "count": 1,
                    "order": "5435434",
                    "kpTime": "2019-01-14 15:20:00",
                    "proRatioNumber": "JA25-9903",
                    "baseRatioNumber": "JA25",
                    "customerName": "广东碧桂园",
                    "projectName": "广东碧桂园",
                    "projectPart": "一层楼",
                    "strong": "C25",
                    "special": "",
                    "slumps": "120-140",
                    "unloadType": "泵送",
                    "cube": 50,
                    "proLine": "3线",
                    "ratioType": 2
                },
                {
                    "count": 1,
                    "order": "5435434",
                    "kpTime": "2019-01-14 15:20:00",
                    "proRatioNumber": "JA25-9903",
                    "baseRatioNumber": "JA25",
                    "customerName": "广东碧桂园",
                    "projectName": "广东碧桂园",
                    "projectPart": "一层楼",
                    "strong": "C25",
                    "special": "",
                    "slumps": "120-140",
                    "unloadType": "泵送",
                    "cube": 50,
                    "proLine": "3线",
                    "ratioType": 2
                }
            ]
        });
        table.render({
            elem: '#RatioTotal',
            cols: [[
                {field: 'ratioNumber', title: '配比编号', width: 88}
                , {field: 'mixingTime', title: '搅拌时间', width: 88}
                , {field: 'initialSettingTime', title: '初凝时间', width: 88}
                , {field: 'bulkDensity', title: '容重(kg)', width: 88}
                , {field: 'totalRubber', title: '总胶材(kg)', width: 100}
                , {field: 'waterBinderRatio', title: '水胶比', width: 88}
                , {field: 'sandRate', title: '砂率(%)', width: 88}
                , {field: 'mineralPowder', title: '矿粉(%)', width: 88}
                , {field: 'flyAsh', title: '粉煤灰(%)', width: 100}
                , {field: 'expansiveAgent', title: '膨胀剂(%)', width: 100}
                , {field: 'admixture', title: '外加剂(%)', width: 100}
            ]],
            data: [
                {
                    "ratioNumber": "J322",
                    "mixingTime": "C35",
                    "initialSettingTime": "120-140",
                    "bulkDensity": "120-140",
                    "totalRubber": "120-140",
                    "waterBinderRatio": "120-140",
                    "sandRate": "120-140",
                    "mineralPowder": "120-140",
                    "flyAsh": "120-140",
                    "expansiveAgent": "120-140",
                    "admixture": "120-140"
                }
            ]
        });
        table.render({
            elem: '#RatioDetails',
            cols: [[
                {field: 'count', title: '', type: 'number', width: 40, align: 'center', hide: true}
                , {field: 'warehouseNumber', title: '仓位编号', sort: true, hide: true}
                , {field: 'warehouseName', title: '仓位名称', sort: true}
                , {field: 'materialType', title: '材料种类', sort: true}
                , {field: 'ratioValue', title: '配比值(kg)', sort: true}
            ]],
            data: [
                {
                    "count": 1,
                    "warehouseNumber": "",
                    "warehouseName": "",
                    "materialType": "",
                    "ratioValue": "120-140"
                }
            ]
        });

        laydate.render({
            elem: '#Start-date'
        });
        laydate.render({
            elem: '#End-date'
        });

        element.on('tab(docDemoTabBrief)', function (obj) {
            if (obj.index == 3) {
                $('.select-date').show();
            } else {
                $('.select-date').hide();
            }
        });
    })
</script>
<script type="text/html" id="barDemo">
    <a class="layui-btn layui-btn-xs" lay-event="edit">修改</a>
    <a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="del">正供</a>
    <!--<a class="layui-btn layui-btn-xs" lay-event="check">审核</a>-->
</script>
</body>
</html>