<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>开盘管理</title>
    <link rel="stylesheet" href="../../layuiadmin/layui/css/layui.css" media="all">
    <link rel="stylesheet" href="../../layuiadmin/style/admin.css" media="all">
</head>
<body>
<div class="layui-fluid">
    <div class="layui-card">
        <div class="layui-card-body">
            <form class="layui-form" action="" lay-filter="component-form-group">
                <div class="layui-form-item">
                    <div class="layui-inline">
                        <div class="layui-tab layui-tab-brief" lay-filter="docDemoTabBrief">
                            <ul class="layui-tab-title" id="tabHeader">
                                <li class="layui-this">昨天</li>
                                <li>今天</li>
                                <li>本月</li>
                                <li>自定义</li>
                            </ul>
                        </div>
                    </div>
                    <div class="layui-inline">
                        <div class="select-date">
                            <div class="layui-input-inline">
                                <input type="text" name="startDate" id="Start-date" lay-verify="date"
                                       placeholder="yyyy-MM-dd" autocomplete="off" class="layui-input">
                            </div>
                            <div class="layui-form-mid">-</div>
                            <div class="layui-input-inline">
                                <input type="text" name="endDate" id="End-date" lay-verify="date"
                                       placeholder="yyyy-MM-dd" autocomplete="off" class="layui-input">
                            </div>
                        </div>
                    </div>
                    <div class="layui-inline" style="width: 130px">
                        <select name="quiz">
                            <option value="">选择开盘状态</option>
                            <option value="待制作">待制作</option>
                            <option value="待审核">待审核</option>
                            <option value="已审核">已审核</option>
                            <option value="未通过">未通过</option>
                        </select>
                    </div>
                    <div class="layui-inline">
                        <input type="text" name="contractNumber" size="50"  placeholder="请输入工程名称、施工部位、强度等级、坍落度进行查询" lay-verify="required" class="layui-input">
                    </div>
                    <div class="layui-inline">
                        <button class="layui-btn layui-btn-sm" lay-submit><i class="layui-icon layui-icon-search"></i>查询</button>
                        <button type="reset" class="layui-btn layui-btn-sm layui-btn-normal"><i class="layui-icon layui-icon-survey"></i>批量调整
                        </button>
                        <button type="reset" class="layui-btn layui-btn-sm layui-btn-normal"><i class="layui-icon layui-icon-survey"></i>批量换仓
                        </button>
                    </div>
                </div>
            </form>
            <table class="layui-hide" id="table-height" lay-filter="test-table-totalRow"></table>

            <!--<table class="layui-hide" id="table-height" lay-filter="test-table-totalRow"></table>-->
        </div>
    </div>
</div>
<script src="../../layuiadmin/layui/layui.js"></script>
<script>
    layui.config({
        base: '../../layuiadmin/' //静态资源所在路径
    }).extend({
        index: 'lib/index' //主入口模块
    }).use(['element','index', 'table', 'laydate'], function () {
        var $ = layui.jquery
                ,table = layui.table
                ,element = layui.element
                ,laydate = layui.laydate;
        table.render({
            elem: '#table-height',
            height: 'full-100',
            page: true,
            totalRow: true,   //开启合并
            cols: [[
                {field: 'count', title: '', type: 'number', width: 40}
                ,{field:'order', title: '订单号',minWidth:150,sort: true,totalRowText: '合计'}
                , {field: 'proTime', title: '生产时间',sort: true}
                , {field: 'proRatioNumber', title: '生产配备编号', sort: true}
                , {field: 'baseRatioNumber', title: '基准配比编号'}
                , {field: 'projectName', title: '工程名称'}
                , {field: 'projectPart', title: '施工部位'}
                , {field: 'strong', title: '强度等级'}
                , {field: 'special', title: '特殊要求'}
                , {field: 'slumps', title: '坍落度'}
                , {field: 'unloadType', title: '卸料方式'}
                , {field: 'cube', title: '方量'}
                , {field: 'proLine', title: '生产线'}
                , {field: 'gaveWagon', title: '已送车数',totalRow:true}
                , {field: 'gaveCube', title: '已送方量'}
                , {field: 'remark', title: '备注'}
                , {field: 'kpState', title: '开盘状态'}
                , {field: 'operation', title: '操作',minWidth:280,toolbar: '#barDemo'}
            ]],
            data: [
                {
                    "count": 1,
                    "order": "5435434",
                    "proTime": "2019-01-14 15:20:00",
                    "proRatioNumber": "JA25-9903",
                    "baseRatioNumber": "JA25",
                    "projectName": "广东碧桂园",
                    "projectPart": "一层楼",
                    "strong": "C25",
                    "special": "",
                    "slumps": "120-140",
                    "unloadType": "泵送",
                    "cube": 50,
                    "proLine": "3线",
                    "gaveWagon": 2,
                    "gaveCube": 20,
                    "remark": 0,
                    "kpState": "已审核",
                    "operation": 0
                }
            ]
        });
        laydate.render({
            elem: '#Start-date'
        });
        laydate.render({
            elem: '#End-date'
        });

        element.on('tab(docDemoTabBrief)', function(obj){
            if(obj.index ==3){
                $('.select-date').show();
            }else{
                $('.select-date').hide();
            }
        });
    })
</script>
<script type="text/html" id="barDemo">
    <a class="layui-btn layui-btn-xs" lay-event="edit">调整配比</a>
    <a class="layui-btn layui-btn-xs" lay-event="edit">重选配比</a>
    <a class="layui-btn layui-btn-xs" lay-event="edit">解锁</a>
    <a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="del">上传设置</a>
    <!--<a class="layui-btn layui-btn-xs" lay-event="check">审核</a>-->
</script>
</body>
</html>