<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>生产记录明细</title>
    <link rel="stylesheet" href="../../layuiadmin/layui/css/layui.css" media="all">
    <link rel="stylesheet" href="../../layuiadmin/style/admin.css" media="all">
</head>
<body>
<div class="layui-fluid">
    <div class="layui-card">
        <div class="layui-card-header">
            生产明细
        </div>
        <div class="layui-card-body">
            <table class="my-table-2">
                <tr>
                    <th>订单号：</th>
                    <td>20181113101618</td>
                    <th>客户名称：</th>
                    <td>11-13</td>
                    <th>生产时间：</th>
                    <td>2018/11/13 15:07:05</td>
                </tr>
                <tr>
                    <th>工程名称：</th>
                    <td>20181113测试啦</td>
                    <th>强度等级：</th>
                    <td>C25/细石/不加灰</td>
                    <th>坍落度：</th>
                    <td>130±302</td>
                </tr>
                <tr>
                    <th>施工部位：</th>
                    <td>楼上测是</td>
                    <th>特殊要求：</th>
                    <td colspan="3"></td>
                </tr>
                <tr>
                    <th>卸料方式：</th>
                    <td>泵送</td>
                    <th>配比编号：</th>
                    <td>201810160021-5775</td>
                    <th>订单方量：</th>
                    <td>23.60 m³</td>
                </tr>
                <tr>
                    <th>送货单号：</th>
                    <td>111315070562</td>
                    <th>车辆编号：</th>
                    <td>19</td>
                    <th>司机：</th>
                    <td>19</td>
                </tr>
                <tr>
                    <th>生产线：</th>
                    <td>1线</td>
                    <th>汇总方量：</th>
                    <td colspan="3">8 m³</td>
                </tr>
            </table>
            <hr>
            <table class="my-table-3">
                <colgroup>
                    <col width="11%">
                    <col width="11%">
                    <col width="11%">
                    <col width="11%">
                    <col width="11%">
                    <col width="11%">
                    <col width="11%">
                    <col width="11%">
                    <col width="11%">
                </colgroup>
                <caption>批次序号：<span>1</span> 批次方量：<span>2.67 m³</span></caption>
                <tr>
                    <th>材料名称</th>
                    <td>磨灰3</td>
                    <th>砂浆保塑剂1-2</th>
                    <td>砂浆调节剂2-1</td>
                    <th>水M1</th>
                    <td>水泥1</td>
                    <th>中砂4</th>
                    <td>中砂5</td>
                    <th>小计</th>
                </tr>
                <tr>
                    <th>生产配比(KG)</th>
                    <td>213.60</td>
                    <th>4.81</th>
                    <td>7.48</td>
                    <th>360.30</th>
                    <td>748.00</td>
                    <th>2000.00</th>
                    <td>1690.00</td>
                    <th>5024.19</th>
                </tr>
                <tr>
                    <th>实际投料(KG)</th>
                    <td>213.60</td>
                    <th>4.81</th>
                    <td>7.48</td>
                    <th>360.30</th>
                    <td>748.00</td>
                    <th>2000.00</th>
                    <td>1690.00</td>
                    <th>5024.19</th>
                </tr>
                <tr>
                    <th>误差(KG)</th>
                    <td>213.60</td>
                    <th>4.81</th>
                    <td>7.48</td>
                    <th>360.30</th>
                    <td>748.00</td>
                    <th>2000.00</th>
                    <td>1690.00</td>
                    <th>5024.19</th>
                </tr>
                <tr>
                    <th>误差率(%)</th>
                    <td>213.60</td>
                    <th>4.81</th>
                    <td>7.48</td>
                    <th>360.30</th>
                    <td>748.00</td>
                    <th>2000.00</th>
                    <td>1690.00</td>
                    <th>5024.19</th>
                </tr>
                <tr>
                    <th>含水率(%)</th>
                    <td>213.60</td>
                    <th>4.81</th>
                    <td>7.48</td>
                    <th>360.30</th>
                    <td>748.00</td>
                    <th>2000.00</th>
                    <td>1690.00</td>
                    <th>5024.19</th>
                </tr>
            </table>
            <table class="my-table-3">
                <colgroup>
                    <col width="11%">
                    <col width="11%">
                    <col width="11%">
                    <col width="11%">
                    <col width="11%">
                    <col width="11%">
                    <col width="11%">
                    <col width="11%">
                    <col width="11%">
                </colgroup>
                <caption>批次序号：<span>2</span> 批次方量：<span>2.67 m³</span></caption>
                <tr>
                    <th>材料名称</th>
                    <td>磨灰3</td>
                    <th>砂浆保塑剂1-2</th>
                    <td>砂浆调节剂2-1</td>
                    <th>水M1</th>
                    <td>水泥1</td>
                    <th>中砂4</th>
                    <td>中砂5</td>
                    <th>小计</th>
                </tr>
                <tr>
                    <th>生产配比(KG)</th>
                    <td>213.60</td>
                    <th>4.81</th>
                    <td>7.48</td>
                    <th>360.30</th>
                    <td>748.00</td>
                    <th>2000.00</th>
                    <td>1690.00</td>
                    <th>5024.19</th>
                </tr>
                <tr>
                    <th>实际投料(KG)</th>
                    <td>213.60</td>
                    <th>4.81</th>
                    <td>7.48</td>
                    <th>360.30</th>
                    <td>748.00</td>
                    <th>2000.00</th>
                    <td>1690.00</td>
                    <th>5024.19</th>
                </tr>
                <tr>
                    <th>误差(KG)</th>
                    <td>213.60</td>
                    <th>4.81</th>
                    <td>7.48</td>
                    <th>360.30</th>
                    <td>748.00</td>
                    <th>2000.00</th>
                    <td>1690.00</td>
                    <th>5024.19</th>
                </tr>
                <tr>
                    <th>误差率(%)</th>
                    <td>213.60</td>
                    <th>4.81</th>
                    <td>7.48</td>
                    <th>360.30</th>
                    <td>748.00</td>
                    <th>2000.00</th>
                    <td>1690.00</td>
                    <th>5024.19</th>
                </tr>
                <tr>
                    <th>含水率(%)</th>
                    <td>213.60</td>
                    <th>4.81</th>
                    <td>7.48</td>
                    <th>360.30</th>
                    <td>748.00</td>
                    <th>2000.00</th>
                    <td>1690.00</td>
                    <th>5024.19</th>
                </tr>
            </table>
            <table class="my-table-3">
                <colgroup>
                    <col width="11%">
                    <col width="11%">
                    <col width="11%">
                    <col width="11%">
                    <col width="11%">
                    <col width="11%">
                    <col width="11%">
                    <col width="11%">
                    <col width="11%">
                </colgroup>
                <caption>批次序号：<span>3</span> 批次方量：<span>2.67 m³</span></caption>
                <tr>
                    <th>材料名称</th>
                    <td>磨灰3</td>
                    <th>砂浆保塑剂1-2</th>
                    <td>砂浆调节剂2-1</td>
                    <th>水M1</th>
                    <td>水泥1</td>
                    <th>中砂4</th>
                    <td>中砂5</td>
                    <th>小计</th>
                </tr>
                <tr>
                    <th>生产配比(KG)</th>
                    <td>213.60</td>
                    <th>4.81</th>
                    <td>7.48</td>
                    <th>360.30</th>
                    <td>748.00</td>
                    <th>2000.00</th>
                    <td>1690.00</td>
                    <th>5024.19</th>
                </tr>
                <tr>
                    <th>实际投料(KG)</th>
                    <td>213.60</td>
                    <th>4.81</th>
                    <td>7.48</td>
                    <th>360.30</th>
                    <td>748.00</td>
                    <th>2000.00</th>
                    <td>1690.00</td>
                    <th>5024.19</th>
                </tr>
                <tr>
                    <th>误差(KG)</th>
                    <td>213.60</td>
                    <th>4.81</th>
                    <td>7.48</td>
                    <th>360.30</th>
                    <td>748.00</td>
                    <th>2000.00</th>
                    <td>1690.00</td>
                    <th>5024.19</th>
                </tr>
                <tr>
                    <th>误差率(%)</th>
                    <td>213.60</td>
                    <th>4.81</th>
                    <td>7.48</td>
                    <th>360.30</th>
                    <td>748.00</td>
                    <th>2000.00</th>
                    <td>1690.00</td>
                    <th>5024.19</th>
                </tr>
                <tr>
                    <th>含水率(%)</th>
                    <td>213.60</td>
                    <th>4.81</th>
                    <td>7.48</td>
                    <th>360.30</th>
                    <td>748.00</td>
                    <th>2000.00</th>
                    <td>1690.00</td>
                    <th>5024.19</th>
                </tr>
            </table>
            <table class="my-table-3">
                <colgroup>
                    <col width="11%">
                    <col width="11%">
                    <col width="11%">
                    <col width="11%">
                    <col width="11%">
                    <col width="11%">
                    <col width="11%">
                    <col width="11%">
                    <col width="11%">
                </colgroup>
                <caption>批次序号：<span>4</span> 批次方量：<span>2.67 m³</span></caption>
                <tr>
                    <th>材料名称</th>
                    <td>磨灰3</td>
                    <th>砂浆保塑剂1-2</th>
                    <td>砂浆调节剂2-1</td>
                    <th>水M1</th>
                    <td>水泥1</td>
                    <th>中砂4</th>
                    <td>中砂5</td>
                    <th>小计</th>
                </tr>
                <tr>
                    <th>生产配比(KG)</th>
                    <td>213.60</td>
                    <th>4.81</th>
                    <td>7.48</td>
                    <th>360.30</th>
                    <td>748.00</td>
                    <th>2000.00</th>
                    <td>1690.00</td>
                    <th>5024.19</th>
                </tr>
                <tr>
                    <th>实际投料(KG)</th>
                    <td>213.60</td>
                    <th>4.81</th>
                    <td>7.48</td>
                    <th>360.30</th>
                    <td>748.00</td>
                    <th>2000.00</th>
                    <td>1690.00</td>
                    <th>5024.19</th>
                </tr>
                <tr>
                    <th>误差(KG)</th>
                    <td>213.60</td>
                    <th>4.81</th>
                    <td>7.48</td>
                    <th>360.30</th>
                    <td>748.00</td>
                    <th>2000.00</th>
                    <td>1690.00</td>
                    <th>5024.19</th>
                </tr>
                <tr>
                    <th>误差率(%)</th>
                    <td>213.60</td>
                    <th>4.81</th>
                    <td>7.48</td>
                    <th>360.30</th>
                    <td>748.00</td>
                    <th>2000.00</th>
                    <td>1690.00</td>
                    <th>5024.19</th>
                </tr>
                <tr>
                    <th>含水率(%)</th>
                    <td>213.60</td>
                    <th>4.81</th>
                    <td>7.48</td>
                    <th>360.30</th>
                    <td>748.00</td>
                    <th>2000.00</th>
                    <td>1690.00</td>
                    <th>5024.19</th>
                </tr>
            </table>
            <table class="my-table-3">
                <colgroup>
                    <col width="11%">
                    <col width="11%">
                    <col width="11%">
                    <col width="11%">
                    <col width="11%">
                    <col width="11%">
                    <col width="11%">
                    <col width="11%">
                    <col width="11%">
                </colgroup>
                <caption>批次序号：<span>5</span> 批次方量：<span>2.67 m³</span></caption>
                <tr>
                    <th>材料名称</th>
                    <td>磨灰3</td>
                    <th>砂浆保塑剂1-2</th>
                    <td>砂浆调节剂2-1</td>
                    <th>水M1</th>
                    <td>水泥1</td>
                    <th>中砂4</th>
                    <td>中砂5</td>
                    <th>小计</th>
                </tr>
                <tr>
                    <th>生产配比(KG)</th>
                    <td>213.60</td>
                    <th>4.81</th>
                    <td>7.48</td>
                    <th>360.30</th>
                    <td>748.00</td>
                    <th>2000.00</th>
                    <td>1690.00</td>
                    <th>5024.19</th>
                </tr>
                <tr>
                    <th>实际投料(KG)</th>
                    <td>213.60</td>
                    <th>4.81</th>
                    <td>7.48</td>
                    <th>360.30</th>
                    <td>748.00</td>
                    <th>2000.00</th>
                    <td>1690.00</td>
                    <th>5024.19</th>
                </tr>
                <tr>
                    <th>误差(KG)</th>
                    <td>213.60</td>
                    <th>4.81</th>
                    <td>7.48</td>
                    <th>360.30</th>
                    <td>748.00</td>
                    <th>2000.00</th>
                    <td>1690.00</td>
                    <th>5024.19</th>
                </tr>
                <tr>
                    <th>误差率(%)</th>
                    <td>213.60</td>
                    <th>4.81</th>
                    <td>7.48</td>
                    <th>360.30</th>
                    <td>748.00</td>
                    <th>2000.00</th>
                    <td>1690.00</td>
                    <th>5024.19</th>
                </tr>
                <tr>
                    <th>含水率(%)</th>
                    <td>213.60</td>
                    <th>4.81</th>
                    <td>7.48</td>
                    <th>360.30</th>
                    <td>748.00</td>
                    <th>2000.00</th>
                    <td>1690.00</td>
                    <th>5024.19</th>
                </tr>
            </table>
            <table class="my-table-3">
                <colgroup>
                    <col width="11%">
                    <col width="11%">
                    <col width="11%">
                    <col width="11%">
                    <col width="11%">
                    <col width="11%">
                    <col width="11%">
                    <col width="11%">
                    <col width="11%">
                </colgroup>
                <caption>批次序号：<span>6</span> 批次方量：<span>2.67 m³</span></caption>
                <tr>
                    <th>材料名称</th>
                    <td>磨灰3</td>
                    <th>砂浆保塑剂1-2</th>
                    <td>砂浆调节剂2-1</td>
                    <th>水M1</th>
                    <td>水泥1</td>
                    <th>中砂4</th>
                    <td>中砂5</td>
                    <th>小计</th>
                </tr>
                <tr>
                    <th>生产配比(KG)</th>
                    <td>213.60</td>
                    <th>4.81</th>
                    <td>7.48</td>
                    <th>360.30</th>
                    <td>748.00</td>
                    <th>2000.00</th>
                    <td>1690.00</td>
                    <th>5024.19</th>
                </tr>
                <tr>
                    <th>实际投料(KG)</th>
                    <td>213.60</td>
                    <th>4.81</th>
                    <td>7.48</td>
                    <th>360.30</th>
                    <td>748.00</td>
                    <th>2000.00</th>
                    <td>1690.00</td>
                    <th>5024.19</th>
                </tr>
                <tr>
                    <th>误差(KG)</th>
                    <td>213.60</td>
                    <th>4.81</th>
                    <td>7.48</td>
                    <th>360.30</th>
                    <td>748.00</td>
                    <th>2000.00</th>
                    <td>1690.00</td>
                    <th>5024.19</th>
                </tr>
                <tr>
                    <th>误差率(%)</th>
                    <td>213.60</td>
                    <th>4.81</th>
                    <td>7.48</td>
                    <th>360.30</th>
                    <td>748.00</td>
                    <th>2000.00</th>
                    <td>1690.00</td>
                    <th>5024.19</th>
                </tr>
                <tr>
                    <th>含水率(%)</th>
                    <td>213.60</td>
                    <th>4.81</th>
                    <td>7.48</td>
                    <th>360.30</th>
                    <td>748.00</td>
                    <th>2000.00</th>
                    <td>1690.00</td>
                    <th>5024.19</th>
                </tr>
            </table>
            <table class="my-table-3">
                <colgroup>
                    <col width="11%">
                    <col width="11%">
                    <col width="11%">
                    <col width="11%">
                    <col width="11%">
                    <col width="11%">
                    <col width="11%">
                    <col width="11%">
                    <col width="11%">
                </colgroup>
                <caption>批次序号：<span>7</span> 批次方量：<span>2.67 m³</span></caption>
                <tr>
                    <th>材料名称</th>
                    <td>磨灰3</td>
                    <th>砂浆保塑剂1-2</th>
                    <td>砂浆调节剂2-1</td>
                    <th>水M1</th>
                    <td>水泥1</td>
                    <th>中砂4</th>
                    <td>中砂5</td>
                    <th>小计</th>
                </tr>
                <tr>
                    <th>生产配比(KG)</th>
                    <td>213.60</td>
                    <th>4.81</th>
                    <td>7.48</td>
                    <th>360.30</th>
                    <td>748.00</td>
                    <th>2000.00</th>
                    <td>1690.00</td>
                    <th>5024.19</th>
                </tr>
                <tr>
                    <th>实际投料(KG)</th>
                    <td>213.60</td>
                    <th>4.81</th>
                    <td>7.48</td>
                    <th>360.30</th>
                    <td>748.00</td>
                    <th>2000.00</th>
                    <td>1690.00</td>
                    <th>5024.19</th>
                </tr>
                <tr>
                    <th>误差(KG)</th>
                    <td>213.60</td>
                    <th>4.81</th>
                    <td>7.48</td>
                    <th>360.30</th>
                    <td>748.00</td>
                    <th>2000.00</th>
                    <td>1690.00</td>
                    <th>5024.19</th>
                </tr>
                <tr>
                    <th>误差率(%)</th>
                    <td>213.60</td>
                    <th>4.81</th>
                    <td>7.48</td>
                    <th>360.30</th>
                    <td>748.00</td>
                    <th>2000.00</th>
                    <td>1690.00</td>
                    <th>5024.19</th>
                </tr>
                <tr>
                    <th>含水率(%)</th>
                    <td>213.60</td>
                    <th>4.81</th>
                    <td>7.48</td>
                    <th>360.30</th>
                    <td>748.00</td>
                    <th>2000.00</th>
                    <td>1690.00</td>
                    <th>5024.19</th>
                </tr>
            </table>
            <table class="my-table-3">
                <colgroup>
                    <col width="11%">
                    <col width="11%">
                    <col width="11%">
                    <col width="11%">
                    <col width="11%">
                    <col width="11%">
                    <col width="11%">
                    <col width="11%">
                    <col width="11%">
                </colgroup>
                <caption>批次序号：<span>8</span> 批次方量：<span>2.67 m³</span></caption>
                <tr>
                    <th>材料名称</th>
                    <td>磨灰3</td>
                    <th>砂浆保塑剂1-2</th>
                    <td>砂浆调节剂2-1</td>
                    <th>水M1</th>
                    <td>水泥1</td>
                    <th>中砂4</th>
                    <td>中砂5</td>
                    <th>小计</th>
                </tr>
                <tr>
                    <th>生产配比(KG)</th>
                    <td>213.60</td>
                    <th>4.81</th>
                    <td>7.48</td>
                    <th>360.30</th>
                    <td>748.00</td>
                    <th>2000.00</th>
                    <td>1690.00</td>
                    <th>5024.19</th>
                </tr>
                <tr>
                    <th>实际投料(KG)</th>
                    <td>213.60</td>
                    <th>4.81</th>
                    <td>7.48</td>
                    <th>360.30</th>
                    <td>748.00</td>
                    <th>2000.00</th>
                    <td>1690.00</td>
                    <th>5024.19</th>
                </tr>
                <tr>
                    <th>误差(KG)</th>
                    <td>213.60</td>
                    <th>4.81</th>
                    <td>7.48</td>
                    <th>360.30</th>
                    <td>748.00</td>
                    <th>2000.00</th>
                    <td>1690.00</td>
                    <th>5024.19</th>
                </tr>
                <tr>
                    <th>误差率(%)</th>
                    <td>213.60</td>
                    <th>4.81</th>
                    <td>7.48</td>
                    <th>360.30</th>
                    <td>748.00</td>
                    <th>2000.00</th>
                    <td>1690.00</td>
                    <th>5024.19</th>
                </tr>
                <tr>
                    <th>含水率(%)</th>
                    <td>213.60</td>
                    <th>4.81</th>
                    <td>7.48</td>
                    <th>360.30</th>
                    <td>748.00</td>
                    <th>2000.00</th>
                    <td>1690.00</td>
                    <th>5024.19</th>
                </tr>
            </table>
        </div>
    </div>
</div>
<script src="../../layuiadmin/layui/layui.js"></script>
<script>
    layui.config({
        base: '../../layuiadmin/' //静态资源所在路径
    }).extend({
        index: 'lib/index' //主入口模块
    }).use(['index', 'table'], function () {
        var $=layui.$;
        var table = layui.table;
    })
</script>
<script type="text/html" id="barDemo">
    <a class="layui-btn layui-btn-xs" lay-event="edit">明细</a>
</script>
</body>
</html>