<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>配比监控</title>
    <link rel="stylesheet" href="../../layuiadmin/layui/css/layui.css" media="all">
    <link rel="stylesheet" href="../../layuiadmin/style/admin.css" media="all">
</head>
<body>
<div class="layui-fluid">
    <div class="layui-card">
        <div class="layui-card-body">
            <form class="layui-form" action="" lay-filter="component-form-group">
                <div class="layui-form-item">
                    <div class="layui-tab layui-tab-btn" lay-filter="docDemoTabBrief">
                        <ul class="layui-tab-title">
                            <li class="layui-this">按生产时间</li>
                            <li>按强度等级</li>
                            <li>按订单号</li>
                            <li>按订单方案</li>
                        </ul>
                    </div>
                </div>

                <div class="layui-form-item">
                    <div class="layui-inline">
                        <div class="layui-tab layui-tab-btn" lay-filter="docDemoTabBrief">
                            <ul class="layui-tab-title" id="tabHeader">
                                <li>昨天</li>
                                <li class="layui-this">今天</li>
                                <li>本月</li>
                                <li>自定义</li>
                            </ul>
                        </div>
                    </div>
                    <div class="layui-inline">
                        <div class="select-date">
                            <div class="layui-input-inline">
                                <input type="text" name="startDate" id="Start-date" lay-verify="date"
                                       placeholder="年-月-日  时:分:秒" autocomplete="off" class="layui-input">
                            </div>
                            <div class="layui-form-mid">-</div>
                            <div class="layui-input-inline">
                                <input type="text" name="endDate" id="End-date" lay-verify="date"
                                       placeholder="年-月-日  时:分:秒" autocomplete="off" class="layui-input">
                            </div>
                        </div>
                    </div>
                    <div class="layui-inline">
                        <input type="text" name="contractNumber" size="15" placeholder="请输入车号查询"
                               lay-verify="required" class="layui-input">
                    </div>
                    <div class="layui-inline">
                        <input type="text" name="contractNumber" size="18" placeholder="请输入客户名称查询"
                               lay-verify="required" class="layui-input">
                    </div>
                    <div class="layui-inline">
                        <input type="text" name="contractNumber" size="18" placeholder="请输入工程名称查询"
                               lay-verify="required" class="layui-input">
                    </div>
                    <div class="layui-inline">
                        <button class="layui-btn layui-btn-sm" lay-submit><i class="layui-icon layui-icon-search"></i>查询
                        </button>
                    </div>
                </div>
            </form>
            <table class="layui-hide" id="table-height"></table>
        </div>
    </div>
</div>
<script src="../../layuiadmin/layui/layui.js"></script>
<script>
    layui.config({
        base: '../../layuiadmin/' //静态资源所在路径
    }).extend({
        index: 'lib/index' //主入口模块
    }).use(['element', 'index', 'table', 'laydate'], function () {
        var $ = layui.jquery;
        var table = layui.table
                , element = layui.element
                , laydate = layui.laydate;
        table.render({
            elem: '#table-height',
            height: 'full-100',
            page: true,
            cols: [[
                {field: 'count', title: '', type: 'number', width: 40}
                , {field: 'materialType', title: '材料种类', minWidth: 150, sort: true}
                , {field: 'materialName', title: '材料名称', sort: true}
                , {field: 'waterPercent', title: '含水率(%)', sort: true}
                , {field: 'startTime', title: '启用时间'}
                , {field: 'operator', title: '操作员'}
                , {field: 'operationTime', title: '操作时间'}
                , {field: 'state', title: '状态'}
                , {field: 'operation', title: '操作', minWidth: 280, toolbar: '#barDemo'}
            ]],
            data: [
                {
                    "count": 1,
                    "materialType": "5435434",
                    "materialName": "2019-01-14 15:20:00",
                    "waterPercent": "JA25-9903",
                    "startTime": "JA25",
                    "operator": "广东碧桂园",
                    "operationTime": "一层楼",
                    "state": "C25",
                    "operation": 0
                }
            ]
        });
        laydate.render({
            elem: '#Start-date'
            ,type:'datetime'
        });
        laydate.render({
            elem: '#End-date'
            ,type:'datetime'
        });
        element.on('tab(docDemoTabBrief)', function (obj) {
            if (obj.index == 3) {
                $('.select-date').show();
            } else {
                $('.select-date').hide();
            }
        });
    })
</script>
<script type="text/html" id="barDemo">
    <a class="layui-btn layui-btn-xs layui-btn-normal" lay-event="edit">修改日志</a>
    <a class="layui-btn layui-btn-xs layui-btn-danger" lay-event="edit">删除</a>
</script>
</body>
</html>