<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>合同单管理</title>
    <link rel="stylesheet" href="../../layuiadmin/layui/css/layui.css" media="all">
    <link rel="stylesheet" href="../../layuiadmin/style/admin.css" media="all">
</head>
<body>
<div class="layui-fluid">
    <!--查询-->
    <div class="layui-card">
        <div class="layui-card-body">
            <form class="layui-form" action="" lay-filter="component-form-group">
                <div class="layui-form-item no-margin">
                    <div class="layui-inline w120">
                          
                        <select name="quiz">
                            <option value="0">全部</option>
                            <option value="6">泵送柱墙</option>
                            <option value="7">普通直卸砼</option>
                            <option value="8">普通泵送砼</option>
                            <option value="11">泵送高层板</option>
                            <option value="12">泵送高层柱</option>
                            <option value="13">泵送细石砼</option>
                            <option value="14">润管砂浆</option>
                            <option value="17">路面砼</option>
                            <option value="19">普通（飘板等）</option>
                            <option value="20">细石二次结构</option>
                            <option value="21">抗渗砼</option>
                            <option value="22">微膨胀</option>
                            <option value="25">抹灰砂浆</option>
                            <option value="26">防水砂浆</option>
                        </select>
                    </div>
                    <div class="layui-inline w130">
                        <!--<label class="layui-form-label">状态</label>-->
                        <select name="modules" lay-search="">
                            <option value="">选择强度等级</option>
                            <option value="C10">C10</option>
                            <option value="C15">C15</option>
                            <option value="C20">C20</option>
                            <option value="C25">C25</option>
                        </select>
                    </div>
                    <div class="layui-inline w120">
                        <!--<label class="layui-form-label">状态</label>-->
                        <select name="modules" lay-search="" >
                            <option value="">选择坍落度</option>
                            <option value="100-120">100-120</option>
                            <option value="120-140">120-140</option>
                        </select>
                    </div>
                    <div class="layui-inline">
                        <input type="text" name="contractNumber" size="30"
                               placeholder="请输入配比编号、配比种类、强度等级、坍落度进行查询" lay-verify="required"
                               class="layui-input">
                    </div>
                    <div class="layui-inline">
                        <button class="layui-btn layui-btn-sm" lay-submit><i class="layui-icon layui-icon-search"></i>查询
                        </button>
                        <button type="reset" class="layui-btn layui-btn-sm layui-btn-normal"><i class="layui-icon">
                            &#xe608;</i>新增
                        </button>
                        <button type="reset" class="layui-btn layui-btn-sm layui-btn-normal"><i
                                class="layui-icon">&#xe656</i>
                            批量上下限设置
                        </button>
                        <a lay-href="./lab/ratio-library-base-edit-all.html" class="layui-btn layui-btn-sm layui-btn-normal"><i
                                class="layui-icon layui-icon-template-1"></i>
                            批量调整
                        </a>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <div class="layui-row layui-col-space8">
        <div class="layui-col-md5">
            <div class="layui-card">
                <div class="layui-card-header">配比列表</div>
                <div class="layui-card-body">
                    <table class="layui-hide" id="table-height"></table>
                </div>
            </div>
        </div>
        <div class="layui-col-md7">
            <div class="layui-card">
                <div class="layui-card-header">
                    <div class="layui-row">
                        <div class="layui-col-md5">配比详情</div>
                        <div class="layui-col-md7" align="right">
                            <a class="layui-btn layui-btn-xs" lay-event="edit">复制</a>
                            <a lay-href="./lab/ratio-library-base-edit.html" class="layui-btn layui-btn-xs layui-btn-normal">修改</a>
                            <a class="layui-btn layui-btn-xs layui-btn-danger">删除</a>
                        </div>
                    </div>
                </div>
                <div class="layui-card-body">
                    <table class="my-table-1">
                        <tr>
                            <th>配比编号</th>
                            <td>22</td>
                            <th>搅拌时间</th>
                            <td>43</td>
                            <th>初凝时间</th>
                            <td>543</td>
                            <th>容重(kg)</th>
                            <td>321</td>
                        </tr>
                        <tr>
                            <th>总胶材(kg)</th>
                            <td>321</td>
                            <th>水胶比</th>
                            <td>321</td>
                            <th>砂率(%)</th>
                            <td>432</td>
                            <th>矿粉(%)</th>
                            <td>432</td>
                        </tr>
                        <tr>
                            <th>粉煤灰(%)</th>
                            <td>321</td>
                            <th>膨胀剂(%)</th>
                            <td>321</td>
                            <th>外加剂(%)</th>
                            <td>321</td>
                            <th></th>
                            <td></td>
                        </tr>
                    </table>
                    <hr>
                    <table class="layui-hide" id="RatioDetails"></table>
                </div>
            </div>
        </div>
    </div>

</div>
<script src="../../layuiadmin/layui/layui.js"></script>
<script>
    layui.config({
        base: '../../layuiadmin/' //静态资源所在路径
    }).extend({
        index: 'lib/index' //主入口模块
    }).use(['index', 'table'], function () {
        var table = layui.table;
        table.render({
            elem: '#table-height',
            height: 'full-100',
            page: true,
            cols: [[
                {field: 'count', title: '', type: 'number', width: 40, align: 'center'}
                , {field: 'ratioNumber', title: '配比编号', sort: true}
                , {field: 'strong', title: '强度等级', sort: true}
                , {field: 'slumps', title: '坍落度', sort: true}
                , {field: 'ratioType', title: '配比种类', sort: true}
            ]],
            data: [
                {
                    "count": 1,
                    "ratioNumber": 20181219001,
                    "strong": "C35",
                    "ratioType": "金合成对外",
                    "slumps": "120-140"
                }, {
                    "count": 2,
                    "ratioNumber": 20181219001,
                    "strong": "C35",
                    "ratioType": "金合成对外",
                    "slumps": "120-140"
                }
            ]
        });
        table.render({
            elem: '#RatioTotal',
            cols: [[
                {field: 'ratioNumber', title: '配比编号',width:88}
                , {field: 'mixingTime', title: '搅拌时间',width:88}
                , {field: 'initialSettingTime', title: '初凝时间',width:88}
                , {field: 'bulkDensity', title: '容重(kg)',width:88}
                , {field: 'totalRubber', title: '总胶材(kg)',width:100}
                , {field: 'waterBinderRatio', title: '水胶比',width:88}
                , {field: 'sandRate', title: '砂率(%)',width:88}
                , {field: 'mineralPowder', title: '矿粉(%)',width:88}
                , {field: 'flyAsh', title: '粉煤灰(%)',width:100}
                , {field: 'expansiveAgent', title: '膨胀剂(%)',width:100}
                , {field: 'admixture', title: '外加剂(%)',width:100}
            ]],
            data: [
                {
                    "ratioNumber": "J322",
                    "mixingTime": "C35",
                    "initialSettingTime": "120-140",
                    "bulkDensity": "120-140",
                    "totalRubber": "120-140",
                    "waterBinderRatio": "120-140",
                    "sandRate": "120-140",
                    "mineralPowder": "120-140",
                    "flyAsh": "120-140",
                    "expansiveAgent": "120-140",
                    "admixture": "120-140"
                }
            ]
        });
        table.render({
            elem: '#RatioDetails',
            cols: [[
                {field: 'count', title: '', type: 'number', width: 40, align: 'center', hide: true}
                , {field: 'materialType', title: '材料种类', sort: true, hide: true}
                , {field: 'materialName', title: '材料名称', sort: true}
                , {field: 'ratioValue', title: '配比值', sort: true}
            ]],
            data: [
                {
                    "count": 1,
                    "materialType": 20181219001,
                    "materialName": "C35",
                    "ratioValue": "120-140"
                }
            ]
        });
    })
</script>
<script type="text/html" id="barDemo">
    <a class="layui-btn layui-btn-xs" lay-event="edit">修改</a>
    <a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="del">正供</a>
    <!--<a class="layui-btn layui-btn-xs" lay-event="check">审核</a>-->
</script>
</body>
</html>